
<!-- OLD NAV SHOULD BE DELETED -->
<nav class="bg-red-500 px-6 py-4">
    <div class="max-w-6xl mx-auto grid grid grid-cols-1 md:grid-cols-7 items-center">
        <a href="#" class="text-white text-xl md:text-2xl">
            Logo
        </a>
        <a href="#" class="text-white text-xl md:text-2xl">
            Nyheder
        </a>
        <a href="#" class="text-white text-xl sm:text-2xl mt-2">
            Projekter
        </a>
        <a href="#" class="text-white text-xl sm:text-2xl mt-2">
            Galleri
        </a>
        <a href="#" class="text-white text-xl sm:text-2xl mt-2">
            Kontakt
        </a>
        <a href="#" class="text-white text-xl xs:text-4xl mt-2">
            Ansatte
        </a>
        <a href="#" class="text-white text-xl xs:text-4xl mt-2">
            Login
        </a>
    </div>
</nav>
